<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no, email=no,adress=no">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 启用360浏览器的极速模式(webkit) -->  
  <meta name="renderer" content="webkit">  
  <!-- 避免IE使用兼容模式 -->  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->  
  <meta name="HandheldFriendly" content="true">  
  <!-- 微软的老式浏览器 -->  
  <meta name="MobileOptimized" content="320">  
  <!-- uc强制竖屏 -->  
  <meta name="screen-orientation" content="portrait">  
  <!-- QQ强制竖屏 -->  
  <meta name="x5-orientation" content="portrait">  
  <!-- UC强制全屏 -->  
  <meta name="full-screen" content="yes">  
  <!-- QQ强制全屏 -->  
  <meta name="x5-fullscreen" content="true">  
  <!-- UC应用模式 -->  
  <meta name="browsermode" content="application">  
  <!-- QQ应用模式 -->  
  <meta name="x5-page-mode" content="app">  
  <title>用户协议</title>
  <link rel="stylesheet" href="../plugins/weui/weui.min.css">
  <link rel="stylesheet" href="../styles/css/user.css">
</head>
<body>
	<div class="wrapper wrapper-bgcolor">
    <header class="header">
      <a class="left" href="javascript:history.back(-1);"></a>
      <h1>用户协议</h1>
    </header>
    <div class="agreement">
      <p>本协议是您与“去拍拍”的所有者“XXX公司”（以下简称为“去拍拍”）之间就去拍拍所提供的服务及相关事宜所立订的契约，请您仔细阅读本注册协议，在您确认阅读并选择注册后，本协议即构成对双方有约束力的法律文件。</p>
      <h3>第一条 去拍拍服务条款的确认和接纳</h3>
      <p>1.去拍拍的各项电子服务的所有权和运作权归“去拍拍”所有。客户同意所有注册协议条款并完成注册程序，才能成为去拍拍的正式客户。客户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
      <p>2.客户点击同意本协议的，即视为客户确认自己具有享受去拍拍服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</p>
      <p>3.如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用去拍拍。</p>
      <p>4.“去拍拍”保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭客户账户、清除或编辑内容或取消订单的权利。</p>
      <h3>第二条 法律管辖和适用</h3>
      <p>本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）</p>
    </div>
	</div>
  <script src="../plugins/jquery/jquery-3.1.1.min.js"></script>
  <script src="../scripts/flexible.js"></script>
  <script src="../scripts/common.js"></script>
</body>
</html>

