<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no, email=no,adress=no">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 启用360浏览器的极速模式(webkit) -->  
  <meta name="renderer" content="webkit">  
  <!-- 避免IE使用兼容模式 -->  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->  
  <meta name="HandheldFriendly" content="true">  
  <!-- 微软的老式浏览器 -->  
  <meta name="MobileOptimized" content="320">  
  <!-- uc强制竖屏 -->  
  <meta name="screen-orientation" content="portrait">  
  <!-- QQ强制竖屏 -->  
  <meta name="x5-orientation" content="portrait">  
  <!-- UC强制全屏 -->  
  <meta name="full-screen" content="yes">  
  <!-- QQ强制全屏 -->  
  <meta name="x5-fullscreen" content="true">  
  <!-- UC应用模式 -->  
  <meta name="browsermode" content="application">  
  <!-- QQ应用模式 -->  
  <meta name="x5-page-mode" content="app">  
  <title>修改密码</title>
  <link rel="stylesheet" href="../plugins/weui/weui.min.css">
  <link rel="stylesheet" href="../styles/css/user.css">
</head>
<body>
	<div class="wrapper wrapper-bgcolor">
    <header class="header">
      <a class="left" href="javascript:history.back(-1);"></a>
      <h1>修改密码</h1>
      <a class="right" href="javascript:;"><span>保存</span></a>
    </header>
    <div class="modify">
      <div class="items">
        <span>旧密码：</span>
        <label><input type="password" placeholder="请输入旧密码"></label>
      </div>
      <div class="items">
        <span>新密码：</span>
        <label><input type="password" placeholder="请确认新密码"></label>
      </div>
       <div class="items">
        <span>确认新密码：</span>
        <label><input type="password" placeholder="请确认新密码"></label>
      </div>
    </div>
	</div>
  <script src="../plugins/jquery/jquery-3.1.1.min.js"></script>
  <script src="../scripts/flexible.js"></script>
  <script src="../scripts/common.js"></script>
  <script>
    $(document).ready(function(){
        $(".select .select-list").on("click",function(){
          $(this).addClass("on").siblings().removeClass("on");
        })
    });
  </script>
</body>
</html>

