<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no, email=no,adress=no">
  <!-- windows phone 点击无高光 -->
  <meta name="msapplication-tap-highlight" content="no">
  <!-- 启用360浏览器的极速模式(webkit) -->  
  <meta name="renderer" content="webkit">  
  <!-- 避免IE使用兼容模式 -->  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->  
  <meta name="HandheldFriendly" content="true">  
  <!-- 微软的老式浏览器 -->  
  <meta name="MobileOptimized" content="320">  
  <!-- uc强制竖屏 -->  
  <meta name="screen-orientation" content="portrait">  
  <!-- QQ强制竖屏 -->  
  <meta name="x5-orientation" content="portrait">  
  <!-- UC强制全屏 -->  
  <meta name="full-screen" content="yes">  
  <!-- QQ强制全屏 -->  
  <meta name="x5-fullscreen" content="true">  
  <!-- UC应用模式 -->  
  <meta name="browsermode" content="application">  
  <!-- QQ应用模式 -->  
  <meta name="x5-page-mode" content="app">  
  <title>订单详情</title>
  <link rel="stylesheet" href="../plugins/weui/weui.min.css">
  <link rel="stylesheet" href="../styles/css/order.css">
</head>
<body>
	<div class="wrapper wrapper-bgcolor wrapper-order-info">
    <header class="header">
      <a class="left" href="javascript:history.back(-1);"></a>
      <h1>订单详情</h1>
      <a class="right" href="javascript:;" onclick="promptFun();"><i><img src="../images/prompt_top_icon.png" alt=""></i></a>
    </header>
    <div class="order-info">
      <a href="" class="head">
        <div class="img"><img src="../images/head.jpg" alt=""></div>
        <div class="text">
          <h3>广州市白云区7天酒店</h3>
          <p>广州市白云区永泰街道228号</p>
        </div>
      </a>
      <div class="flow-path">
        <!--状态schedule1 schedule2 schedule3 schedule4 -->
        <ul class="schedule4">
          <li><i></i></li>
          <li><i></i></li>
          <li><i></i></li>
          <li><i></i></li>
          <li class="line"></li>
        </ul>
        <div class="flow-path-time">
          <div class="tiem-status">
            <h5>下订单</h5>
            <p>20170910</p>
          </div>
          <div class="tiem-status">
            <h5>待接单</h5>
            <p>20170911</p>
          </div>
          <div class="tiem-status">
            <h5>已接单</h5>
            <p>20170912</p>
          </div>
          <div class="tiem-status">
            <h5>已完成</h5>
            <p>20170913</p>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="tltie">
          <p>订单信息</p>
        </div>
        <div class="text">
          <p><span>订单&nbsp;&nbsp;&nbsp;号：</span>1002</p>                     
          <p><span>预订时间：</span>2017-09-10 12:00</p>
          <p><span>预订&nbsp;&nbsp;&nbsp;人：</span>Jason </p>                       
          <p><span>联系方式：</span>15989093923</p>
          <p><span>拍摄时间：</span>2017-09-10 至  2017-09-11 </p>          
          <p><span>费&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用：</span>￥1000</p>
          <p><span>张&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数：</span>20</p>
        </div>
      </div>
      <div class="cameraman-info">
        <div class="tltie">
          <p>摄影师信息</p>
          <a href="tel:15989093923;"><span>我要沟通</span></a>
        </div>
        <div class="text">
          <p><span>摄影&nbsp;&nbsp;&nbsp;师：</span>Jason</p>                     
          <p><span>接单时间：</span>2017-09-10 12:00</p>
          <p><span>交付时间：</span>2017-09-12</p>                     
          <p><span>联系方式：</span>15989093923</p>
        </div>
      </div>
      <div class="remarks">
        <div class="tltie">
          <p>备注</p>
        </div>
        <div class="remarks-text">
          <textarea name="" placeholder="尽量拍摄清晰，每角度照片有3张可进行筛选"></textarea>
        </div>
      </div>
    </div>
    <div class="order-foot">
      <a href=""><span>我要接单</span></a>
    </div>
    <div class="mask" onclick="closePromptFun();"></div>
    <div class="mask-prompt">
      <div class="title"><h3>温馨提醒</h3></div>
      <div class="text">
        <p>1、如果有明确要求数量的请填上数量</p>
        <p>2、如果是协议商家，费用和数量将按照协议内容自动填写；其它商家自行填写</p>
        <a href="javascript:;" onclick="closePromptFun();">确定</a>
      </div>
    </div>
	</div>
  <script src="../plugins/jquery/jquery-3.1.1.min.js"></script>
  <script src="../scripts/flexible.js"></script>
  <script src="../scripts/common.js"></script>
  <script>
    function promptFun(){
      $(".mask").show();
      $(".mask-prompt").addClass("on");
    }
    function closePromptFun(){
      $(".mask").hide();
      $(".mask-prompt").removeClass("on");
    }
  </script>
</body>
</html>

